<!--自己的动画-->
<!--<div class="loding">-->
    <!--<ul class="dong">-->
        <!--<li class="li"></li>-->
        <!--<li class="li"></li>-->
        <!--<li class="li"></li>-->
        <!--<li class="li"></li>-->
        <!--<li class="li"></li>-->
        <!--<li class="li"></li>-->
    <!--</ul>-->
<!--</div>-->
<div class="loading">
    <div class="loader21 loader">
        <div class="loader-21">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>