//公共样式
@charset "utf-8";
@function  rem($px){
  @return $px/46.875+rem;
}
$w:100%;
html,body,.view{
  width:$w;
  height:$w;
  box-sizing: border-box;
}
div,p,span,ul,li,a,body,header,footer,h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  display: block;
}
a:hover{
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
  height: 100%;
}
@import "other/header";
@import "other/body";
@import "other/register_login";
@import "other/footer";
@import "other/loading";