//注册和登录的页面样式
.register-login {
    width: $w;
    height: $w;
    background: #018e65;
    form {
      width: $w;
      ul {
        width: 95%;
        background: #fff;
        margin: 0 auto;
        border-radius: rem(10);
        margin-top:rem(30);
        li {
          width: $w;
          height: rem(130);
          border-bottom: rem(1) #ccc solid;
          display: flex;
          justify-content: space-between;
          align-items: center;
          input {
            outline: none;
            border: none;
            margin-left: rem(40);
          }
          span{
            color:red;
            margin-right:rem(20);
            font-size:rem(30);
          }
          button {
            width: rem(160);
            height: rem(70);
            font-size: rem(26);
            border: rem(1) #ccc solid;
            border-radius: rem(5);
            background: #fff;
            margin-right: rem(20);
          }
        }
      }
      .deng{
        width: $w;
        height: rem(130);
        margin-top:rem(60);
      }
      .zhu{
        width: $w;
        height: rem(180);
        margin-top:rem(40);
        h2{
          font-size:rem(44);
          color:#fff;
          margin-left:rem(20);
        }
      }
      .deng,.zhu{
        button{
          width: 95%;
          height:rem(130);
          margin-left:rem(15);
          background: none;
          border:rem(1) #ccc solid;
          font-size:rem(50);
          color:#fff;
        }
      }
    }
}
